abstract
algorithms
amsmath
arydshln
babel-german
booktabs
bussproofs
caption
chktex
cite
cleveref
enumitem
epigraph
eso-pic
fancyhdr
float
geometry
hyperref
lastpage
latexmk
lineno
listings
mathspec
mathtools
mhchem
microtype
minted
mnsymbol
multirow
natbib
nextpage
parskip
pgfplots
preprint
setspace
siunitx
stmaryrd
tabulary
titlesec
todonotes
ulem
xcolor
xfrac
